.modal {
    border: 1px solid $lightgray;
    border-radius: 8px;
    background: white;
    width: 500px;
    height: auto;
    // margin-top: 50vh;
    // margin-left: 20vw;

    input {
        padding: 0 10px;
        border-radius: 5px;
        height: 25px;
    }

    > header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $lightgray;
        padding: $modal-padding;
        font-size: large;

        // .close-modal-button {
        //     font-weight: bold;
        //     color: $darkgray;
        //     border-radius: 30px;
        //     padding: 5px 10px;
        // }
    }

    .intro-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    > form {
        display: flex;
        flex-direction: column;
        // align-items: center;
        padding: $modal-padding;

        .intro-name {
            display: flex;
            flex-direction: row;
            div {
                display: flex;
                flex-direction: column;
            }

            .first-name {
                margin-right: 50px;

            }
        }


        div {
            display: flex;
            flex-direction: column;
      
            // h2 {
            //   margin-bottom: 10px;
            //   color: $darkgray;
            //   font-weight: 600;
            // }
        }

        label {
            color: $gray;
            padding: 10px 10px 10px 0;
        }

        textarea {
            resize: none;
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    button {
        margin: 10px;
    }

    .close-modal-button {
        &:hover {
            cursor: pointer;
        }
    }
}


.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-comp {
    position: absolute;
    // top: 50vh;
    // left: 50vw;
    // transform: translate(-50%, -50%);
}