.comment-section {
    display: flex;
    flex-direction: column;
    padding: 12px;

    img {
      padding: 15px;
    }

    input[type='file'] {
        display: none;
    }
  
    .cmt-form-section {
      display: flex;
      align-items: center;
    }
  
    .cmt-form-ctnr {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
  
      .comment-form {
        // position: relative;
        border: 1px solid $lightgray;
        border-radius: 12px;
        font-size: 14px;
        // max-width: 25vw;

        .cmt-input-div {
          display: flex;
        }
  
        input {
          padding: 8px 12px;
          width: 90%;
          border: none;
          outline: none;
          //border: 1px solid $lightgray;
          border-radius: 24px;
        }
        
        .far.fa-image {
          position: relative;
          right: 0;
          top: 0;
          padding: 11px;
          border-radius: 24px;
          font-size: 13px;
  
          &:hover {
            // color: $lightgray;
            cursor: pointer;
          }
        }
  
        .cmt-img-preview {
          background: #f9fafb;
          border-radius: 0 0 24px 24px;
          
          > div:first-child {
            position: relative;

            span {
              margin-top: 5px;
              margin-right: 15px
            }
          }
  
          .rm-cmt-img {
            // background: $LIblue;
            // border-radius: 16px;
            // padding: 5px 9px;
            // cursor: pointer;
            // color: white;
            font-weight: 900;
            position: absolute;
            right: 0;

            &:hover {
              cursor: pointer;
            }
          }
  
          img {
            height: 200px;
            width: auto;
            max-width: 300px;
          }
        }
      }
    }
  
    .edit input {
      width: 100%;
    }
  
    .more-cmts {
      font-weight: 600;
      font-size: 14px;
      padding: 3px 8px;
      border-radius: 5px;
      color: $gray;
  
      &:hover {
        background: $lightergray;
        transition: 0.3s;
      }
    }
    
    .post-cmt-btn {
      color: white;
      background: $LIblue;
      padding: 5px 15px;
      border-radius: 30px;
      border: 1px solid white;
      font-weight: 600;
      font-size: 14px;
      padding: 3px 12px;
      margin-top: 8px;
  
      &:hover {
        background: #09437c;

      }
    }
}

.comment-item {
  margin-top: 10px;
  display: flex;

  > div {
    width: 100%;
  }

  .comment-body {
    background: $lightergray;
    padding: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    // position: relative;
    margin-bottom: 24px;
    max-width: 30vw;

    img {
      max-width: 15vw;
    }

    > p {
      margin: 5px 0;
      font-size: 14px;
    }

    .gray-shade.edit {
      margin-top: 5px;
      font-size: 14px;

      input {
        font-size: 16px;
      }
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    // position: relative;
    color: $gray;

    span {
      font-size: 12px;
    }

    img {
      border-radius: 20px;
      height: 16px;
      width: auto;
      filter: opacity(75%);
      padding: 5px;
      padding-bottom: 10px;
      // max-width: 300px;
    }

    .cmt-dropdown {
      background: white;
      border: 1px solid $lightgray;
      // position: absolute;
      right: 5px;
      top: 15px;
      z-index: 10;

      li {
        padding: 10px;
        font-size: 14px;
        font-weight: 600;

        i {
          margin-right: 5px;
        }

        &:hover {
          background: $lightgray;
          cursor: pointer;
        }
      }
    }
  }

  .cmt-user-info {
    display: flex;
    flex-direction: column;

    > p {
      font-size: 12px;
    }

    .cmt-user-name {
      color: $darkgray;
      font-weight: 600;
    }
  }
}

#cmt-time-edit {
  display: flex;
  align-items: center;
  height: 20px;

  button {
    background-color: alpha($color: #000000);
    margin: 0;
    padding: 0;
  }
}

.edit-cmt-btns {
  margin-top: 10px;

  .save-cmt-edit {
    // @include modal-button(white, $LIblue);
    padding: 3px 12px;
    margin-right: 8px;

    &:enabled:hover {
      // @include hover($darkblue);
    }
    
    &:disabled {
      // @include btn-disabled;
      border: none;
    }
  }

  .cancel-cmt-edit {
    // @include modal-button($darkgray, $lightergray);
    padding: 3px 12px;

    &:hover {
      // @include btn-hover-border($darkgray, $lightergray)
    }
  }
}

.liked {
  color: $LIblue;

  i {
    color: $LIblue;
  }

  & + i {
    color: $LIblue;
  }
}