// .cmt-form-section {
//     display: flex;
//     align-items: center;

//     .comment-form {
//         position: relative;
//         border: 1px solid #d8d8d8;
//         border-radius: 24px;
//         font-size: 14px;
//         width: 90%;

//         input {
//             border: none;
//         }
//     }

//     img {
//         padding: 15px;
//     }

//     input[type='file'] {
//         display: none;
//     }
// }

.comment-section {
    display: flex;
    flex-direction: column;
    padding: 12px;

    img {
        padding: 15px;
    }

    input[type='file'] {
        display: none;
    }
  
    .cmt-form-section {
      display: flex;
      align-items: center;

      img {
          height: 40px;
          width: 40px;

      }
    }
  
    .cmt-form-ctnr {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
  
      .comment-form {
        position: relative;
        border: 1px solid $lightgray;
        border-radius: 12px;
        font-size: 14px;
  
        input {
          padding: 8px 12px;
          width: 90%;
          border: none;
          outline: none;
          //border: 1px solid $lightgray;
          border-radius: 24px;
        }
        
        .far.fa-image {
          position: absolute;
          right: 0;
          top: 0;
          padding: 11px;
          border-radius: 24px;
          font-size: 13px;
  
          &:hover {
            // color: $lightgray;
            cursor: pointer;
          }
        }
  
        .cmt-img-preview {
          background: #f9fafb;
          border-radius: 0 0 24px 24px;
          
          > div:first-child {
            position: relative;
          }
  
          .rm-cmt-img {
            background: $LIblue;
            border-radius: 16px;
            padding: 5px 9px;
            cursor: pointer;
            color: white;
            font-weight: 900;
            position: absolute;
            right: 0;
          }
  
          img {
            height: 200px;
            width: auto;
            max-width: 300px;
          }
        }
      }
    }
  
    .edit input {
      width: 100%;
    }
  
    .more-cmts {
      font-weight: 600;
      font-size: 14px;
      padding: 3px 8px;
      border-radius: 5px;
      color: $gray;
  
      &:hover {
        background: $lightergray;
        transition: 0.3s;
      }
    }
  
    .more-cmts{
      font-size: 12px;
    }
    
    .post-cmt-btn {
      color: white;
      background: $LIblue;
      padding: 5px 15px;
      border-radius: 30px;
      border: 1px solid white;
      font-weight: 600;
      font-size: 14px;
      padding: 3px 12px;
      margin-top: 8px;
  
      &:hover {
        background: #09437c;

      }
    }
  }