.feed-section  {
    padding-left: 18.75vw;
    padding-top: 5vh;
}

.user-sidebar{
    // margin-top: 15vh;
    // margin-left: 220px;

    .user-sidebar-avatar > img {
        height: 8vh;
        width: 8vh;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
        // position: absolute;
    }

    .user-sidebar-bg > img {
        width: 15vw;
        height: 12vh;
        object-fit: cover;
        object-position: top;
    }

    // .user-sidebar-info {
    //     position: absolute;
    // }
}

.avatar {
    // height: 5vh;
    // width: 5vw;
    // padding: 20px;
    img {
        margin: 10px;
        height: 75px;
        width: 75px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }
}

.post-img {
    height: 100px;
    width: auto;
}