.user-sidebar{
    margin-top: 15vh;
    // margin-left: 220px;

    .user-sidebar-avatar > img {
        height: 10vh;
        width: 10vh;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }
}