$small_logo_height: 34px;

.header {
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    border: 0px 0px 1px 0px rgba(228, 228, 228, 0.6);
    // border: 3px solid red;
    display: flex;
    justify-content: center;
    z-index: 999;

    .logo {
        width: 175px;
        height: auto;
    }

    .small-logo {
        padding-top: 16px;
        padding-bottom: 15px;
        padding-right: 5px;
        width: 34px;
        height: $small_logo_height;
    }

    .session-nav {
        // border: 3px solid rgb(0, 255, 42);
        width: 60vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: 900;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 22vw;
            height: 5vh;
        }

        .fixed {
            text-decoration: none;
        }

        .splash-signup {
            color: $gray;
            padding: 8px 20px;
            margin-right: 10px;
            text-decoration: none;

            &:hover {
                background: $lightgray;
                color: black;
                border-radius: 3px;
                transition: 0.3s;
              }
        }

        .splash-sign-in {
            color: $LIblue;
            border: 1px solid $LIblue;
            border-radius: 24px;
            padding: 8px 20px;
            text-decoration: none;
        
            &:hover {
              background: rgba(112,181,249,0.15);
              box-shadow: inset 0 0 0 2px $LIblue;
              transition: 0.3s;
            }
        }

       

        // img {
        //     // display: flex;
        //     // justify-content: flex-end;
        // }
    }

    .nav-icon {
        display: flex; 
        flex-direction: column;
    }
}

.logged-in-container {
    display: flex;
    width: 65vw;
    // border: 3px solid rgb(81, 255, 0);
    // display: grid;
    justify-content: space-between;

    .left-nav-bar {
        display: flex;
        align-items: center;
        // font-size: 20px;
        width: 40vw;


    }

    .right-nav-bar {
        // border: 3px solid rgb(4, 0, 255);
        display: flex;
        align-items: center;
        // justify-content: flex-end;
        // width: 15vw;
        padding-top: 25px;
        // margin: 20px;

        a {
            margin-top: -15px;
            text-decoration: none;
            color: rgba(0,0,0,0.6);
            padding: 0 10px 0 10px;

            &:hover {
                color: black;
            }
        }

        // button {
        //     // border: 3px solid rgb(255, 0, 191);
        //     padding-left: 5px;
        //     margin-right: 10px;
        // }

        .nav-icon {
            display: flex;
            // padding: 0 10px 0 10px;
            align-items: center;

            i {
                font-size: 25px;
            }

            p {
                font-size: small;
            }
        }

        .header-dropdown-hide {
            //CHANGE THIS BACK TO NONE
            display: none;
        }

        .header-dropdown-reveal {
            display: block;
            z-index: 999;
            // position: fixed;
        }

        
        .avatar-small {
            img {
                height: 3vh;
                width: 3vh;
                border-radius: 50%;
                object-fit: cover;
                object-position: top;
                margin-bottom: -5px;
            }
        }

        .avatar {
            img {
                height: 7vh;
                width: 7vh;
                border-radius: 50%;
                object-fit: cover;
                object-position: top;
            }
        }
        
        button {
            // padding: 0;
            margin-top: -17px;
            border: none;
            background: none;

            color: rgba(0,0,0,0.6);
            .header-avatar {
                &:hover {
                    color: black;
                    cursor: pointer;
                }
            }
            
            ul {
                width: 300px;
                right: 16vw;
                position: absolute;
                // z-index: 999;
                color: black;
                // outline: none;
                // margin-right: 1000px;

                p:nth-child(1) {
                    font-weight: bold;
                }
                
                > li:first-child {
                    border-radius: 10px 10px 0px 0px;
                    height: 125px;
                }
                
                > li:last-child {
                    border-radius: 0px 0px 10px 10px;
                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                
                li {
                    background-color: white;
                    border: 1px solid $lightgray;
                    padding: 8px;
  
                
                        

                    > div:first-child {
                        display: flex;
                        height: 10vh;
                        margin-bottom: -20px;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;


                        > div:last-child {
                            // border: 1px solid red;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            align-content: space-evenly;
                            justify-content: center;
                            margin-left: 10px;
                        }
                    }

                    > div:last-child {
                        margin: 20px;
                        padding: 5px;
                        color: #0a66c2;
                        border: 0.5px solid #0a66c2;
                        border-radius: 24px;
                        text-align: center;
                        cursor: pointer; 

                        &:hover {
                            transition: 0.3s;
                            // border: 2px solid #0a66c2;
                            background: rgba(112,181,249,0.15);
                            box-shadow: inset 0px 0px 0px 2px #0a66c2;
                            cursor: pointer;
                        }
                    }

                   
                }
                
            }
        } 
    }
}



.arrow-down {
    height: 0;
    width: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid gray;
    display: inline-block;

    &:hover {
        color: black;
    }
}


.search-container {
    position: relative;

    .fas.fa-search {
        position: absolute;
        top: 7px;
        left: 15px;
        font-size: 16px;
        color: gray;
    }

    .search-results {
        // display: none;
        position: absolute;
        z-index: 999;
        top: 45px;
        width: 400px;
        background: white;
        border-radius: 8px;
        overflow: hidden;
        border: 0px 1px 1px 1px solid $lightergray;

        img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
            //don't use padding here it distorts circular images
            margin-right: 10px;
        }
        
        li {
            display: flex;
            align-items: center;
            height: 40px;
            padding: 0 10px;

            
      
            p {
              font-size: 16px;
      
              span {
                color: gray;
                font-size: 14px;
              }
            }
      
            &:hover {
                background: $lightergray;
                cursor: pointer;
            }
        }

        // &:hover {
        //     display: block;
        // }
    }
}


#search-field {
    background: #f1f7ff;
    width: 300px;
    height: $small_logo_height -3;
    padding: 5px 5px 5px 40px;
    box-sizing: border-box;
    // border-radius: 5px;
    // border-color: #f1f7ff;
    font-size: 14px;
    border: 1px solid $lightergray;
    border-radius: 3px;

    &:focus {
        width: 400px;
        height: $small_logo_height;
        font-size: 16px;
        padding: 5px 5px 5px 50px;
        outline: none;
        // border: 1px solid $lightergray;
        transition: 0.3s;
    
        + .fas.fa-search {
          left: 20px;
        //   top: 30px;
          font-size: 30px;
          transition: 0.3s;
        }
    }
}


