.connections {
    // padding-top: 15vh;
    // padding-left: 18.75vw;
    border: 1px solid $lightgray;
    border-radius: 8px;
    background: white;
    width: 55vw;
    padding: 50px;
    // z-index: 900;
    // margin-left: 10vw;
    // margin-right: 10vw;
    // margin: 5vh 10vw 3vh 10vw;

    ul {
        border-top: 1px solid $lightgray;
    }

    header {
        padding-bottom: 20px;
        font-weight: 600;
        color: gray;
    }

    img {
        height: 8vh;
        width: 8vh;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }

    .connections-list {
        border-top: 1px solid $lightgray;

        &.requests > div {
          background: rgb(197, 225, 255);
        }
        
        p:first-child {
            font-weight: bold;
        }

        p {
            padding: 5px;
        }
    }

    ul > div {
        display: flex;
        padding: 20px;
        position: relative;
    
        .avatar {
          margin-right: 20px;
        }
        
        // img {
        //   height: 45px;
        //   width: 45px;
        // }
        
        .connect-name {
          font-weight: 600;
        }
        
        .connect-headline {
          color: $gray;
        }
    }
}

.requesting {
    display: flex;

    .connections-btn {
        display: flex;
        position: absolute;
        right: 20px;
        // z-index: 998;
    
        button {
          padding: 8px 15px;
          border-radius: 24px;
          font-weight: 600;
        }
    }
}

.accept {
    color: $LIblue;
    background-color: white;
    border: 1px solid $LIblue;
  
    &:hover {
        background: transparent;
        box-shadow: inset 0 0 0 2px $LIblue;
        transition: 0.3s;
        cursor: pointer;
    }
}
  
.reject {
    color: $gray;
    margin-right: 10px;
    border: none;

    &:hover {
        // background: transparent;
        box-shadow: inset 0 0 0 2px $gray;
        transition: 0.3s;
        cursor: pointer;
    }
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .connections:first-child{
        margin: 8vh 0 10px 0;
    }
    .connections:last-child {
        margin-bottom: 5vh;
    }
    
}