.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: auto;  
    // text-align: center;  
    padding: 15px;  
    margin-top: 100px;
    border: 3px solid red;  

    img {
        border: 3px solid red;  

        padding: 20px;
        // scale: 50%;
        width: auto;
        height: 100vh;
    }
}