.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // width: auto;  
    text-align: center;  
    padding: 15px;  
    margin-top: 100px;
    // border: 3px solid red; 
    display: grid; 

    h1 {
        font-weight: 900;
        font-size: 50px;
        padding-bottom: 20px;
        grid-column: 1;
        grid-row: 1;
        margin-top: 3px;
    }

    p {
        grid-column: 1;
        grid-row: 1;
        margin-top: 85px;
    }

    img {
        // border: 3px solid red;  
        // z-index: -10;
        padding: 20px;
        // scale: 50%;
        width: auto;
        height: 85vh;
        grid-column: 1;
        grid-row: 1;
        margin-top: 5%;
    }
    
    // div {

    // }
}