.feed-section  {
    margin: 22vh;
}

.profile-page-cont {
    margin: 22vh;
}

.user-details {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    img {
        height: 12vh;
        width: 12vh;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }

    h1 {
        font-size: 22px;
        font-weight: 500;
    }

    h2 {
        margin-bottom: 3px;
    }

    h3 {
        font-size: 14px;
        color: $gray;
    }

    span {
        padding-top: 5px;
        font-size: 14px;
        font-weight: 600;
        color: $LIblue;
    }

    .pf-user-history {
        position: relative;
        margin-top: 30px;

        p {
            font-size: 14px;
            font-weight: 600;
        }

        // .pf-edit-btn {
        //     position: absolute;
        //     right: 0;
        //     top: -40px;
        //     font-size: 20px;
        //     padding: 6px 10px;
        //     border-radius: 30px;
        //     color: $gray;

        //     &:hover.pf-edit-drp {
        //         // @include btn-hover-border($gray, $lightgray);

        //         display: block;
        //     }

        //     .pf-edit-drp {
        //         display: none;
        //         position: absolute;
        //         z-index: 1;

        //         ul {
        //             padding: 12px 16px;
        //             text-decoration: none;
        //             // display: block;
        //         }
        //     }
        // }
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    .pf-edit-drp {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    
    // .pf-edit-btn {
        // &:hover {
        //     .pf-edit-drp {
        //         display: block;
        //     }
        // }
    // }

}
// .pf-edit-btn:hover .pf-edit-drp {display: block}