.profile-page-cont {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}
.user-bg-img {
    display: grid;
    justify-items: end;
    width: 505px;

    img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        grid-column: 1;
        grid-row: 1;
        width: 42vw;
        height: 20vh;
        object-fit: cover;
        object-position: center;
    }

    button {
        // padding:10px;
        margin-top: 10px;
        margin-right: 10px;
        color: #0a66c2;
        border: none;
        background-color: white;
        grid-column: 1;
        grid-row: 1;
        width: 25px;
        height: 25px;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
        }
    }
}

.user-prof {
    margin-top: 3vh;
    margin-right: 25px;
    border-radius: 8px;
}

.user-details {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 40vw;
    margin-bottom: 20px;

    img {
        height: 15vh;
        width: 15vh;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
        margin-top: -120px;
        border: 5px solid white;

        &:hover {
            // box-shadow: inset 0 0 0 5px rgb(0,0,0);
            // border-style: inset;
            cursor: pointer;
        }
    }

    h1 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    h2 {
        margin-bottom: 10px;
    }

    h3 {
        font-size: 14px;
        color: $gray;
        margin-bottom: 10px;
    }

    span {
        padding-top: 5px;
        font-size: 14px;
        font-weight: 600;
        color: $LIblue;
    }

    .pf-user-history {
        position: relative;
        margin-top: 30px;

        p {
            padding: 3px;
            font-size: 14px;
            font-weight: 600;
        }
    }

    button {
        margin-top: 10px;
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    .pf-edit-drp {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        // z-index: 1;
    }
    
    
    // .pf-edit-btn {
        // &:hover {
        //     .pf-edit-drp {
        //         display: block;
        //     }
        // }
    // }

}
// .pf-edit-btn:hover .pf-edit-drp {display: block}

.pf-edit-btn {
    position: relative;
    padding: 5px 15px;
    border: 1px solid $gray;
    border-radius: 20px;
    font-weight: 600;
    background: $lightergray;

    &:hover {
        // @include btn-hover-border($gray, $lightgray);
        box-shadow: inset 0 0 0 2px $gray;
        transition: 0.3s;
        cursor: pointer;
    }

   
}

.pf-edit-drp {
    position: absolute;
    left: 0;
    top: 40px;
    border-radius: 8px;
    border: 1px solid $lightgray;
    background: white;
    box-shadow: 0px 2px 8px 3px rgba(200, 200, 200, 0.7);
    // z-index: 10;

    li {
        padding: 8px 20px;
  
        &:hover {
          background: $lightgray;
          cursor: pointer;
        }
    }
}

.exp-index, .edu-index {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;

    p, h1{
        margin: 5px;
    }

    .head-div {
        border-bottom: 1px solid $lightergray;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            height: 40px;
            width: 40px;
            border: none;
            margin: 20px;
            background-color: white;
            border-radius: 50%; 

            i {
                // font-weight: bold;
                font-size: large;
            }

            &:hover {
                background-color: $lightergray;
                transition: 0.3s;
                cursor: pointer;
            }

        }
    }

    h1 {
        // border-bottom: 1px solid $lightergray;
        padding: 20px;
        font-size: large;
        font-weight: bold;
    }

    img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }

    ul {
        padding: 20px
    }
    

    .exp-item, .edu-item {
        // width: 55vw;
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: 1px solid $lightergray;
        display: flex;
        align-items: center;

            .exp-title {
                font-size: larger;
                font-weight: bold;
            }
            
            .exp-company {
                font-size: smaller;
                color: black;

                span {
                    color: $gray;
                }
            }

            .exp-location {
                
            }

            .exp-time, .edu-time {
                font-size: smaller;
                color: $gray;
            }
        // margin: 15px 0;

        
    }

}

.user-section {
    margin: 3vh 50px;
}





