.feed-section  {
    margin: 22vh;
}

.profile-page-cont {
    margin: 22vh;
}

.user-details {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    img {
        height: 12vh;
        width: 12vh;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;

        &:hover {
            box-shadow: inset 10px 10px 10px 10px rgba(0,0,0,0.6);
            cursor: pointer;
        }
    }

    h1 {
        font-size: 22px;
        font-weight: 500;
    }

    h2 {
        margin-bottom: 3px;
    }

    h3 {
        font-size: 14px;
        color: $gray;
    }

    span {
        padding-top: 5px;
        font-size: 14px;
        font-weight: 600;
        color: $LIblue;
    }

    .pf-user-history {
        position: relative;
        margin-top: 30px;

        p {
            font-size: 14px;
            font-weight: 600;
        }
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    .pf-edit-drp {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    
    // .pf-edit-btn {
        // &:hover {
        //     .pf-edit-drp {
        //         display: block;
        //     }
        // }
    // }

}
// .pf-edit-btn:hover .pf-edit-drp {display: block}

.pf-edit-btn {
    position: relative;
    padding: 5px 15px;
    border: 1px solid $gray;
    border-radius: 20px;
    font-weight: 600;
    background: $lightergray;

    &:hover {
        @include btn-hover-border($gray, $lightgray);
        cursor: pointer;
    }

   
}

.pf-edit-drp {
    position: absolute;
    left: 0;
    top: 40px;
    border-radius: 8px;
    border: 1px solid $lightgray;
    background: white;
    box-shadow: 0px 2px 8px 3px rgba(200, 200, 200, 0.7);
    z-index: 10;

    li {
        padding: 8px 20px;
  
        &:hover {
          background: $lightgray;
          cursor: pointer;
        }
    }
}