.signup-section, .login-section {
    display: flex;
    flex-direction: column;
    position: absolute;
    // margin-top: 5%;
    margin-left: 20%;
    // margin: 10px;

    form {
        display: flex;
        flex-direction: column;
        background: white;
        padding: 30px;
        width: 350px;
        border-radius: 8px;
    }

    label {
        margin: 5px 0;
        color: $gray;
        

        input {
            box-sizing: border-box;
            width: 350px;
            height: 45px;
            padding: 20px 10px 0 10px;
    
            // &:focus + label {
            //   top: 0;
            //   font-size: 14px;
            //   transition: 0.3s;
            // }
        }
    }

    input {
        border: 1px solid $gray;
        height: 35px;
        // width: 350px;
        border-radius: 5px;
        padding: 0 10px;
    }

    .error-msg {
        border: 2px solid red;
        color: red
    }

    button {
        margin-top: 20px;
        height: 50px;
        text-align: center;
        background: $LIblue;
        border-radius: 50px;
        color: white;
        font-weight: 400;
        font-size: large;

        &:hover {
            background: #00366d;
            transition: 0.3s;
            cursor: pointer;
        }
    }

    p {
        margin-top: 20px;
        // margin-left: 30%;
        font-weight: 900;
        font-size: 14px;
        // display: flex;
        // justify-content: center;
        
        span {
            color:$LIblue;
            margin-left: 5px;
            text-decoration: none;
            font-weight: bolder;
        }
    }
}