.splash-img-div {
    margin-left: 45vw;
    color: rgb(201, 201, 201);
    img {
        // position: absolute;
        height: 80vh;
        width: auto;
    }

    a {
        color: inherit;
    }

    p {
        margin-left: 20vw;
    }

}

.splash-text {
    margin-top: 20px;
    color: $brown;
    font-size: 55px;
    // position: absolute;
}



