.splash-img-div {
    margin-left: 40vw;
    color: rgb(201, 201, 201);
    img {
        height: 70vh;
        width: auto;
    }

    a {
        color: inherit;
    }

    p {
        margin-left: 20vw;
    }

}



